---

- name: Add project directory
  file: path={{project_root}} state=directory mode=0755

- name: install git package
  apt: pkg={{item}} state=present update_cache=yes cache_valid_time=604800
  with_items:
    - git

- name: Pull sources from the repository.
  git: repo={{repo}} dest={{project_root}} version={{branch}} accept_hostkey=yes
  become_user: ubuntu
  when: build == 'vagrant'

- name: Pull sources from the repository.
  git: repo={{repo}} dest={{project_root}} version={{branch}} accept_hostkey=yes
  git: repo={{repo}} dest={{project_root}} version={{branch}} accept_hostkey=yes key_file=/home/ubuntu/.ssh/idr_rsa
  become_user: ubuntu
  when: build == 'aws'

